@{
    ViewBag.Title = "Sobre";
}
<h4>Nosso aplicativo</h4>
<p>O HelpUs é gratuito e oferece um serviço de doação rápido, seguro e confiável para os usuários </p>
<br/>
<h4>Nossa Missão</h4>
<p>Auxiliar os profissionais da área da saúde e assistência social, no combate à pandemia do coronavírus (covid-19)</p>
<br/>
<h4>Nossa esquipe </h4>
<p>
    O HelpUs foi fundado por Paulo Marques, Bruno Rodrigues e Fernanda Domenicali,
    com o foco direcionado em construir um serviço de doação que seja rápido e seguro
</p>
