@model HelpUs.Casos
@{
    ViewBag.Title = "Home Page";
}

<div id="main">
    <div class="col-md-12">
        <div class="col-md-6" style="background-color:green">YES</div>
        <div class="col-md-6" style="background-color:black">NO</div>
    </div>    
</div>